.contact-image {
    max-height: 300px;
    max-width: 300px;
}

.contact-name {
    font-family: 'Merienda', cursive;
}

.contact-tag {
    border: 2px solid purple;
    height: 500px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-tag h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 35px;
}

.contact-tag > ul {
    width: 100%;
}