<form>
  <div class="form-group">
    <label for="contact-name">Name: </label>
    <input type="text" [ngClass]="{inputField : true}" name="contact-name"[(ngModel)]="newContact.name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="contact-email">eMail: </label>
    <input type="text" [ngClass]="{inputField : true}" name="contact-email" [(ngModel)]="newContact.email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="contact-phone">Phone number: </label>
    <input type="text" [ngClass]="{inputField : true}" name="contact-phone"[(ngModel)]="newContact.phoneNumber" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label for="contact-image">Image: </label>
    <input type="text" [ngClass]="{inputField : true}" name="contact-image" [(ngModel)]="newContact.image" placeholder="Image">
  </div>
  <div class="formGroup">
    <button [ngClass]="{button : true}" (click)="addContact()">Submit New Contact</button>
  </div>
  <div class="form-group">
    <label for="search">Search: </label>
    <input type="text" name="search"[(ngModel)]="pattern" placeholder="Search">
  </div>
</form>

<ul>
  <li [ngClass]="{contactClass : true}" *ngFor="let contact of contacts | filter: 'name': pattern;">
    <span>{{contact.name}}</span>
    <span>{{contact.email}}</span>
    <span>{{contacts.phoneNumber}}</span>
    <img [ngClass]="{imageSmall : true}" src="{{contact.image}}">
  </li>
</ul>
