
<div>
  <label for="contact-name">Nombre</label>
  <input class="input-form" type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input class="input-form" type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Contact phone</label>
  <input class="input-form" type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image</label>
  <input class="input-form" type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>


<ul>
  <li *ngFor="let contact of contacts">
    <p> {{ contact.name }} </p>
    <p> {{ contact.email }} </p>
    <p> {{ contact.phoneNumber }} </p>
    <img src="{{ contact.image }}" height="150px">
  </li>
</ul>
