
<div class="campitos">
  <h2>Add a new Contact:</h2>
  <div class ="campo">
    <label for="contact-name">Name:</label>
    <input type="text" [(ngModel)]="newContact.name">
  </div>
  <div class ="campo">
    <label for="contact-email">Email:</label>
    <input type="text" [(ngModel)]="newContact.email">
  </div>
  <div class ="campo">
    <label for="contact-phone">Phone:</label>
    <input type="text" [(ngModel)]="newContact.phoneNumber">
  </div>
  <div class ="campo">
    <label for="contact-image">Photo:</label>
    <input type="text" [(ngModel)]="newContact.image">
  </div>
  <br>
  <button (click)="addContact(newContact)">Submit New Contact</button>
</div>

<div class="lista">
  <h2>List of Contacts:</h2>
  <ul>
    <li *ngFor = "let contact of contacts">
      {{contact.name}} - {{contact.email}} - {{contact.phoneNumber}}
      <!-- <img src="{{contact.image}}" alt="" width="100px"> -->
      <hr>
    </li>
  </ul>
</div>
