/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  margin:0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  padding: 20px 0;
  text-align: center;
}
.container{
  width: 960px;
  max-width: 100%;
  margin:0 auto;
  padding: 40px 15px;

}
.add-form{
  margin: 30px auto 60px;
  width: 400px;
  border: 1px solid #ececee;
  padding: 20px;
}
.form-row{
  margin-bottom: 15px;
}
.form-row label{
  display: block;
  padding-bottom: 7px;
}
.form-row input{
  height: 35px;
  width: 100%;
}
.add-form button{
  background: #000;
  color: #fff;
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: 300;
}
.contacts ul{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  list-style:none;
  padding-left: 0;
  justify-content: center;
}
.contacts ul li{
  width: 100%;
  padding: 15px;
  border: 1px solid #ececee;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.contacts li figure{
  width: 100px;
  height:100px;
  border-radius: 50%;
  border: 2px solid #ececee;
  overflow: hidden;
}
.contacts li figure img{
  width: 140px
}
.contact-info{
  width: 70%;
  padding-left: 15px;
}
.contact-info p{
  line-height: 1.5;
}
.contact-info p:first-child{
  font-weight: 700;
}
.contacts ul li:nth-of-type(2n){
  margin-right: 0;
}

@media (min-width:800px){
  .contacts ul li{
    width: 45%;
  }
}