<p>
  contact-directory works!
</p>
<div class="container">
  <div class="row">
    <div class="col-xs-3">

    </div>
    <div id="contact" class="col-xs-6" *ngFor="let contact of contacts">
      <div class="col-xs-4">
        <img class="img-rounded"src="{{contact.image}}" alt="">
      </div>
      <div id="info" class="col-xs-8">
        <p><b>Name:</b> {{contact.name}}</p>
        <p><b>Email:</b> {{contact.email}}</p>
        <p><b>Phone:</b> {{contact.phoneNumber}}</p>
      </div>
    </div>

    <div class="col-xs-3">

    </div>
  </div>

</div>
