<h1>Contacts</h1>
<ul class="estilo">
  <li *ngFor="let contact of contacts">
    <img src="{{contact.image}}" width="200px">
    <h2>Name:</h2> {{contact.name}}
    <h3>Email</h3> {{contact.email}}
    <h3>Phone Number: </h3>{{contact.phoneNumber}}
  </li>
</ul>

<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <label for="contact-phone">Phone Number</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <label for="contact-image">Image</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>