.container {
  margin: 0 20px;
}

img {
  width: 200px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

input {
  padding: 5px;
  font-size: 16px;
}

 .field {
	margin-bottom: 20px;
}

.submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
}