<div>
  <label for="contact-name"></label>
  Name: <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  Email: <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  Phone Number: <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  Picture:<input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>