  <div *ngFor="let contact of contacts">
    <div>{{contact.name}}</div>
    <div>{{contact.email}}</div>
    <div>{{contact.phoneNumber}}</div>
    <img class="images" [src]="contact.image" alt="">
  </div>

<div>
  <label for="contact-name"></label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>
