.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
 
}

.divContent {
  border: 10px double black;
  width: 30%;
  margin-left: 30px;
  overflow: scroll;
  overflow-x:hidden;
  height: 300px;
}