li {
  display: inline-block;
  border: 1px solid black;
  margin: 1%;
  background-color: #5F9EA0;
  color: #ffffff;
  width: 30%;
  text-align: center;
}

p {
  margin-left: 2%;
}

ul {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  height: 72px;
}

img {
  width: 200px;
  max-height: auto;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 1%;
}
