/* You can add global styles to this file, and also import other style files */
body{
    background: lightblue url("https://media.giphy.com/media/A5pcWMMIEO95S/giphy.gif") no-repeat fixed center;
    outline :white solid 20px; 
}
img{
   width:100px;

}