html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #183652;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  
}
